@model Internet.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Name</h2>
<br />
<div class="row" id="productDetails">
    
    <img alt="@Model.Name" src="@Url.Action("GetImage", "Products", new { productId = Model.Id }, null)"/>
    
    <p>
        <strong>Цена: </strong>@Model.Price грн
    </p>
    <br/>

    @Html.Raw(Model.Description)
</div>
