@{
    ViewBag.Title = "Instruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = @Resources.labels.GettingStarted;
}
@section meta
{
    <meta name="keywords" content="FFI, Forever Freedom Internationl, как правильно начать пользоваться продукцией компании FFI" />
    <meta name="description" content="Как правильно начать пользоваться продукцией компании FFI" />
}
<div class="head">
    <h1>
        @Html.Raw(Resources.labels.GettingStarted)
    </h1>
</div>
<br />
@Html.Raw(Resources.labels.GettingStartedProductionText)
<br />
<br />
<div class="row-fluid">
    <div class="span6">
        <p>
            @Html.Raw(Resources.labels.GettingStartedProductionConsulting)
        </p>
        <br />
        <a class="btn btn-primary" href="@Url.Action("Contacts", "Home")">@Resources.labels.Contacts</a>
    </div>
    <div class="span1">
    </div>
    <div class="span5">
        <p class="pull-right text-pullright">
            @Html.Raw(Resources.labels.GettingStartedProductionBuy)
            <br />
            <br />
            <a class="btn btn-primary pull-right" href="@Url.Action("Index", "Home")">@Resources.labels.Production</a>
        </p>
    </div>
</div>
