@using Internet.RoutingHelpers
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var siteOwner = SubdomainHelper.GetSiteOwner();
}
@{
    ViewBag.Title = Resources.labels.Contacts;
 }
@section meta
{
    <meta name="keywords" content="FFI, Forever Freedom Internationl, контакты" />
    <meta name="description" content="Контакты" />
}
<div class="head">
    <h1>@Resources.labels.Contacts</h1>
</div>
<div class="wrap">
    <div id="contact" class="row-fluid">
        <div class="span6">
            <h2 class="underline" class="">
                @Resources.labels.ContactsInfo
            </h2>
            <p>@siteOwner.Name</p>
            <p>
                @siteOwner.Country</p>
            <p>
                @siteOwner.City</p>
            <h3>
                @Resources.labels.PartnerPhone
            </h3>
            <p>
                @siteOwner.Phone</p>
            <h3>
                Email
            </h3>
            <p>
                <a href="mailto:@siteOwner.ContactsEmail">@siteOwner.ContactsEmail</a>
            </p>
            <h3>
                Skype
            </h3>
            <p>
                @siteOwner.Skype
            </p>
        </div>
        <div class="span6">
            <h2 class="underline text-pullcenter">
                @Resources.labels.SendMessage
            </h2>
            <!-- contact form -->
            <div id="contactUs">
                @using (Html.BeginForm())
                {
                    <div id="contactName">
                        <input type="hidden" name="toAddress" value="@siteOwner.ContactsEmail"/>
                        <p id="nameLabel">
                            @Resources.labels.Name
                        </p>
                        <p id="emailLabel">
                            Email
                        </p>
                        <p id="textLabel">
                            @Resources.labels.Message
                        </p>
                    </div>
                    <!-- contact form -->
                    <div id="contactForm">
                        <input type="text" id="contactNameForm" name="name" />
                        <input type="text" id="contactEmailForm" name="eMail" />
                    </div>
                    <textarea id="contactTextForm" name="text" cols="" rows=""></textarea>
                    <input type="submit" value="@Resources.labels.btnSend" name="submit" id="contactParButton" />
                }
            </div>
        </div>
    </div>
</div>
