@model IEnumerable<Internet.Models.Category>
@section head
{
    <link href="@Url.Content("~/Content/nivo-slider.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/nivo-slider.default-theme.css")" rel="stylesheet" type="text/css" />
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lava.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.nivo.slider.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#slider').nivoSlider();
            $("#navigation").lavaLamp({ speed: 200 });
        });
    </script>
}
<div class="row-fluid">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
            <img src="@Url.Content("~/Content/images/slideshow/toystory.jpg")" data-thumb="images/toystory.jpg" alt="" />
            <a href="http://dev7studios.com">
                <img src="@Url.Content("~/Content/images/slideshow/up.jpg")" data-thumb="images/up.jpg" alt="" title="This is an example of a caption" />
            </a>
            <img src="@Url.Content("~/Content/images/slideshow/walle.jpg")" data-thumb="images/walle.jpg" alt="" data-transition="slideInLeft" />
            <img src="@Url.Content("~/Content/images/slideshow/nemo.jpg")" data-thumb="images/nemo.jpg" alt="" title="#htmlcaption" />
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
        </div>
    </div>
</div>
<div class="row-fluid">
    <div id="header">
        <ul id="navigation">
            @foreach (var category in Model)
            {
                <li>
                    @Ajax.ActionLink(category.Name, "Index", "Products", new { categoryId = category.Id }, new AjaxOptions
                        {
                            HttpMethod = "GET",
                            UpdateTargetId = "productsBox",
                        })
                </li>
            }
        </ul>
    </div>
</div>
<div class="row-fluid">
    <div class="span5" id="productsBox"></div>
    <div class="span6">
        <img src="../../Content/images/ffi_mpg-boost.png" />
    </div>
</div>
