<nav>
    <a href="@Url.Action("TestDrive", "Articles")">
        <img src="@Url.Content("~/Content/images/menu/test_drive.jpg")" class="captify" alt="@Resources.labels.TestDrive"/>
    </a><a href="@Url.Action("GettingStarted", "Articles")">
        <img src="@Url.Content("~/Content/images/menu/start.jpg")" class="captify" alt="@Resources.labels.GettingStarted"/>
    </a><a href="@Url.Action("HowItWorks", "Articles")">
        <img src="@Url.Content("~/Content/images/menu/settings3.jpg")" class="captify" alt="<h2>@Resources.labels.HowItWorks</h3>"/>
        </a><a href="@Url.Action("Index", "Results")">
                <img src="@Url.Content("~/Content/images/menu/results2.jpg")" class="captify" alt="<h2>@Resources.labels.PracticalResults</h3>"/>
            </a>
@*    <a href="@Url.Action("Index", "Articles")">*@
@*        <img src="@Url.Content("~/Content/images/menu/articles.jpg")" class="captify" alt="<h1>Полезные статьи<h1>"/>*@
@*    </a>*@
    <a href="@Url.Action("Contacts", "Home")">
        <img src="@Url.Content("~/Content/images/menu/contactus.jpg")" class="captify" alt="@Resources.labels.Contacts"/>
    </a>
</nav>