<nav>
    <div class="row-fluid">
        <div style="margin-top: 20px;" class="pull-left">
            <div class="font-large-green pull-left" style="width: 130px;">
                @Resources.labels.KnowMore
            </div>
            <div class="pull-left arrow-green-right">
            </div>
        </div>
        <div class="pull-left">
            <ul class="menu">
                <li>
                    <a href="@Url.Action("GettingStarted", "Articles")">
                        <div class="menu-item-icon">
                            <img src="@Url.Content("~/Content/images/menu/start.png")" style="margin-top: 5px;"/>
                        </div>
                        <div class="menu-item-title">@Resources.labels.Instruction</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Results")">
                        <div class="menu-item-icon">
                            <img src="@Url.Content("~/Content/images/menu/chart.png")" />
                        </div>
                        <div class="menu-item-title">@Resources.labels.PracticalResults</div>
                    </a>
                </li>

                <li>
                    <a href="@Url.Action("HowItWorks", "Articles")">
                        <div class="menu-item-icon">
                            <img src="@Url.Content("~/Content/images/menu/settings.png")" style="margin-top: 5px;"/>
                        </div>
                        <div class="menu-item-title">@Resources.labels.HowItWorks</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "FAQs")">
                        <div class="menu-item-icon">
                            <img src="@Url.Content("~/Content/images/menu/question.png")" style="margin-top: 5px;"/>
                        </div>
                        <div class="menu-item-title">@Resources.labels.Faq</div>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Contacts", "Home")">
                        <div class="menu-item-icon">
                            <img src="@Url.Content("~/Content/images/menu/contacts.png")" style="margin-top: 5px;"/>
                        </div>
                        <div class="menu-item-title">@Resources.labels.Contacts</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
