<nav>
    <a href="@Url.Action("TestDrive")">
        <img src="@Url.Content("~/Content/images/menu/test_drive.jpg")" class="captify" alt="<h1>Тест Драйв<h1><br/><p style='margin-top:-20px;'>(Ознакомление)</p>"/>
    </a><a href="@Url.Action("Instruction")">
        <img src="@Url.Content("~/Content/images/menu/products.jpg")" class="captify" alt="<h4><font color='red'>ПРАВИЛЬНО</font> начать пользоваться продукцией</h4>"/>
    </a><a href="#">
        <img src="@Url.Content("~/Content/images/menu/business3.jpg")" class="captify" alt="<h4><font color='red'>ПРАВИЛЬНО</font> начать свой бизнес</h4>"/>
    </a><a href="#">
        <img src="@Url.Content("~/Content/images/menu/settings2.jpg")" class="captify" alt="<h2>Технические детали и Результаты</h3>"/>
    </a><a href="@Url.Action("Contacts")">
        <img src="@Url.Content("~/Content/images/menu/contactus.jpg")" class="captify" alt="<h1>Контакты<h1>"/>
    </a>
</nav>