@using Internet.RoutingHelpers
@model Internet.Controllers.ResultsController.ResultsModelView
@{
    ViewBag.Title = Resources.labels.PracticalResults;
}
@section meta
{
    @if(Model.Result != null)
    {
        <meta name="keywords" content="FFI, Forever Freedom Internationl, результаты использования @string.Format("{0} {1}", Model.Result.Manufacturer, Model.Result.Model)" />
        <meta name="description" content="Результаты использования продукции FFI на автомобиле @string.Format("{0} {1}", Model.Result.Manufacturer, Model.Result.Model)" />
    }
}
<div class="head">
    <div class="row-fluid">
        <div class="span5">
            <h1>
                @Resources.labels.PracticalResults
            </h1>
        </div>
        @using (@Html.BeginForm("Index", "Results", FormMethod.Get))
        {
            <div class="span7 text-pullleft results-select-header">
                <div class="row-fluid">
                    <div class="span6">
                        @Html.DropDownList("manufacturer", new SelectList(Model.Manufacturers), Resources.labels.ResultsSelectManufacturer, new { onchange = "this.form.submit();" })
                    </div>
                    <div class="span6">
                        @Html.DropDownList("model", new SelectList(Model.Models), Resources.labels.ResultsSelectModel, new { onchange = "this.form.submit();" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
@if (Model.Result != null)
{
    @Html.Partial("_ResultDetails", Model.Result)
}
else
{
    var siteOwner = SubdomainHelper.GetSiteOwner();
    if (siteOwner.Results.Count > 0)
    {
        var result = siteOwner.Results.First();
        if (result.isActive)
        {
    @Html.Partial("_ResultDetails", result, new ViewDataDictionary { { "ownersResult", true } });
        }
    }
}
