@model Internet.Controllers.PartnersController.PartnerViewModel
@using Internet.Models
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head
{
    @*    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.fancybox.css?v=2.1.4")" type="text/css" media="screen" />*@
    @*    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.fancybox.js?v=2.1.4")"></script>*@
    @*    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.fancybox.pack.js?v=2.1.4")"></script>*@
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui.min.css")" type="text/css" media="screen" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            //            $("a#inline").fancybox({
            //                'hideOnContentClick': true
            //            });

            $("#tabs").tabs();
        });

    </script>
}
@*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div id="tabs" class="partner-panel">
    <ul>
        <li><a href="#tabs-0">
            <h3 class="white">@Resources.labels.PartnerInfo</h3>
        </a></li>
        <li><a href="#tabs-1">
            <h3 class="white">@Resources.labels.SelfResources</h3>
        </a></li>
        <li><a href="#tabs-2">
            <h3 class="white">@Resources.labels.PartnerReferal</h3>
        </a></li>
        @if (Model.Partner.IsActive)
        {
            <li><a href="#tabs-4">
                <h3 class="white">
                    Marketing</h3>
            </a></li>
        }
        <li><a href="#tabs-5">
            <h3 class="white">
                FAQ</h3>
        </a></li>
    </ul>
    <div id="tabs-0">
        @using (Html.BeginForm())
        {
            <fieldset>
                @Html.Partial("_PartnerForm", Model.Partner)
                @Html.Partial("_AccountExpire", Model.Partner)
                <br />
                <br />
                <p>
                    <input type="submit" class="btn btn-primary" value="@Resources.labels.btnSave" />
                </p>
            </fieldset>
        }
    </div>
    <div id="tabs-1">
        @Html.Partial("_PresentationUpdate", Model.Partner)
        <hr />
        @Html.Partial("_UniqEmailUpdate", Model.Partner)
        <hr />
        <h3>
            @Resources.labels.SelfResult</h3>
        <br />
        @if (Model.Partner.Results.Any())
        {
            var result = Model.Partner.Results.First();
            if (result.isActive)
            {
            <div class="green">@Resources.labels.ResultActivated</div>
            <a href="http://ffi-eco.com/Results?manufacturer=@result.Manufacturer&model=@result.Model" target="_blank" class="blue">@result.Manufacturer
                @result.Model</a>
            }
            else
            {
            <div class="yellow">@Resources.labels.ResultIsReviewed</div>
            }
        }
        else
        {
            @Html.Partial("_ResultUpdate", new Result { PartnerId = Model.Partner.Id })
        }
        <hr />
        @{
            var banner = new Banner() {PartnerId = Model.Partner.Id};
            if (Model.Partner.Banners.Any())
            {
                banner = Model.Partner.Banners.First();
            }
        }
        @Html.Partial("_BannerUpdate", banner)
    </div>
    <div id="tabs-2">
        @Html.Raw(string.Format(Resources.labels.PartnerReferalText, User.Identity.Name))
    </div>
    @if (Model.Partner.IsActive)
    {
        <div id="tabs-4">
            <iframe width="700" height="500" src="http://www.youtube.com/embed/7fomwpzlGm4?rel=0"
                frameborder="0" allowfullscreen></iframe>
        </div>
    }
    <div id="tabs-5">
        @Html.Partial(Url.Content("~/Views/FAQs/_FAQList.cshtml"), Model.Faqs)
    </div>
</div>
@*                 <a id="inline" href="#data">*@ @*                                  <img src="@Url.Content("~/Content/images/Question_icon.png")" />*@
@*                              </a>*@ @*             *@ @*<div style="display: none">*@
@*    <div id="data">*@ @*        @Html.Raw(Resources.labels.PartnerYouTubeHint)*@
@*    </div>*@ @*</div>*@ 