@model int
@using Internet.Controllers
@{
    ViewBag.Title = "ExtendExpirationDate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="head">
    <h1>
        @Resources.labels.PartnerExtend
    </h1>
</div>
<br />
@using (@Html.BeginForm("ExtendExpirationDate", "Partners", FormMethod.Post))
{
    <select id="extendValue" name="extendValue" onchange="this.form.submit();" style="width:350px;" >
        <option value="-1" >@Resources.labels.PartnerPaymentSelectHint</option>
        @foreach (var amount in PartnersController.ExtendAmounts)
        {
            if (amount.Value == Model)
            {
                <option value="@amount.Value" selected>@amount.Key</option>                            
            }
            else
            {
                <option value="@amount.Value">@amount.Key</option>            
            }
        }
    </select>
    @Resources.labels.PartnerMonths
}
<br />
@if (Model > 0)
{
    @Html.Partial("_PaymentForm", Model)
}